Repository inspera/blackbricks: changes, and which pre-commit hooks are due for each by the changed paths.
All: blackbricks, black, blackcheck, isort, isortcheck, flake8, flake8check, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: blackbricks
        name: blackbricks
        language: system
        entry: poetry run blackbricks
        require_serial: true
        types: [python]
        files: ^test_notebooks/

      - id: black
        name: black
        language: system
        entry: poetry run black
        types: [python]
        exclude: ^test_notebooks/

      - id: blackcheck
        name: black
        language: system
        entry: poetry run black --check
        types: [python]
        exclude: ^test_notebooks/

      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        types: [python]
        exclude: ^test_notebooks/

      - id: isortcheck
        name: isort
        language: system
        entry: poetry run isort --check
        types: [python]
        exclude: ^test_notebooks/

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8 --ignore=E501,E203,W503
        types: [python]
        exclude: ^test_notebooks/

      - id: flake8check
        name: flake8
        language: system
        entry: poetry run flake8
        types: [python]
        exclude: ^test_notebooks/

      - id: pytest
        name: pytest
        language: system
        entry: poetry run pytest
        types: [python]
        pass_filenames: false

workflow dispatch
  .github/workflows/pre-commit.yml
Due: none

update pre commit and workflow actions
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

remove deprecated precommit workflow, add steps
  .github/workflows/pre-commit.yml
Due: none

continue on failure
  .github/workflows/pre-commit.yml
Due: none

add test matrix pipeline, update pre commit pipeline
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
Due: none

update to ignore in pipeline, run pytest
  .github/workflows/pre-commit.yml
Due: none

update pre commit workflow to exclude test notebooks
  .github/workflows/pre-commit.yml
Due: none

Recursively select databricks notebooks remotely
  CHANGELOG.md
  blackbricks/__main__.py
  blackbricks/cli.py
  blackbricks/databricks_sync.py
  blackbricks/files.py
  poetry.lock
  pyproject.toml
Due: black, blackcheck, isort, isortcheck, flake8, flake8check, pytest

Set minimum dependencies instead of SemVer updates
  poetry.lock
  pyproject.toml
Due: none

Set requirements for sqlparse as well
  poetry.lock
  pyproject.toml
Due: none

feat: deprecate two-space indentation
  blackbricks/cli.py
Due: black, blackcheck, isort, isortcheck, flake8, flake8check, pytest

bump: version 0.6.7 → 0.7.0
  CHANGELOG.md
  blackbricks/__init__.py
  pyproject.toml
Due: black, blackcheck, isort, isortcheck, flake8, flake8check, pytest

ci: add .flake8 config file
  .flake8
Due: none

feat: remove option for two-space indentation
  blackbricks/blackbricks.py
  blackbricks/cli.py
  test_notebooks/test.py
  tests/test_check_test_notebook.py
Due: blackbricks, black, blackcheck, isort, isortcheck, flake8, flake8check, pytest

ci: bump dependencies to latest versions
  poetry.lock
  pyproject.toml
Due: none

docs: update readme with 1.0 changes
  README.md
Due: none

docs: update readme with new usage example
  README.md
  poetry.lock
Due: none

fix: ignore non-text files
  blackbricks/cli.py
Due: black, blackcheck, isort, isortcheck, flake8, flake8check, pytest

chore: remove publish.sh (use poetry publish instead)
  publish.sh
Due: none

fix: add strict mypy typing to project
  .pre-commit-config.yaml
  blackbricks/blackbricks.py
  blackbricks/cli.py
  blackbricks/databricks_sync.py
  blackbricks/files.py
  poetry.lock
  pyproject.toml
Due: black, blackcheck, isort, isortcheck, flake8, flake8check, pytest

chore: remove Python 3.8 from PyPI classifiers
  pyproject.toml
Due: none

feat: recursively discover remote notebooks
  .flake8
  blackbricks/blackbricks.py
  blackbricks/cli.py
  blackbricks/databricks_sync.py
  blackbricks/files.py
  pyproject.toml
  type_stubs/databricks_cli/__init__.pyi
  type_stubs/databricks_cli/sdk/__init__.pyi
  type_stubs/databricks_cli/sdk/api_client.pyi
  type_stubs/databricks_cli/sdk/service.pyi
  type_stubs/sqlparse/__init__.pyi
Due: black, blackcheck, isort, isortcheck, flake8, flake8check, pytest

fix: handle trailing whitespace the same as Databricks
  blackbricks/blackbricks.py
  blackbricks/cli.py
  test_notebooks/test.py
Due: blackbricks, black, blackcheck, isort, isortcheck, flake8, flake8check, pytest

ci: add stalebot
  .github/stale.yml
Due: none

docs: update readme to reflect new features
  README.md
Due: none

docs: add #21 to the FAQ section
  README.md
Due: none

fix: restore Python 3.8 compatability
  .gitignore
  blackbricks/cli.py
  blackbricks/databricks_sync.py
  blackbricks/files.py
  pyproject.toml
  type_stubs/databricks_cli/sdk/service.pyi
Due: black, blackcheck, isort, isortcheck, flake8, flake8check, pytest

Added handling for verify_ssl
  blackbricks/databricks_sync.py
Due: black, blackcheck, isort, isortcheck, flake8, flake8check, pytest

docs: update FAQ section with #27
  README.md
Due: none

chore: ensure same insecure handling as databricks-cli uses
  blackbricks/databricks_sync.py
Due: black, blackcheck, isort, isortcheck, flake8, flake8check, pytest

fix: respect `insecure` option in .databrickscfg (#28)
  blackbricks/databricks_sync.py
Due: black, blackcheck, isort, isortcheck, flake8, flake8check, pytest

ci: update poetry.lock
  poetry.lock
Due: none

bump: version 0.7.0 → 1.0.0
  CHANGELOG.md
  blackbricks/__init__.py
  pyproject.toml
Due: black, blackcheck, isort, isortcheck, flake8, flake8check, pytest

docs: edit changelog
  CHANGELOG.md
Due: none

ci: set up action for publishing to PyPI
  .github/workflows/publish.yml
Due: none

docs: update README FAQ
  README.md
Due: none

bump: version 1.0.0 → 1.0.1
  CHANGELOG.md
  blackbricks/__init__.py
  pyproject.toml
Due: black, blackcheck, isort, isortcheck, flake8, flake8check, pytest

Bugix in _format_sql_cell in handling # MAGIC %sql
  blackbricks/blackbricks.py
Due: black, blackcheck, isort, isortcheck, flake8, flake8check, pytest

Test cases for SQL formatting added
  test_notebooks/test.py
Due: blackbricks, pytest

bump: version 1.0.1 → 1.0.2
  CHANGELOG.md
  blackbricks/__init__.py
  pyproject.toml
Due: black, blackcheck, isort, isortcheck, flake8, flake8check, pytest
