Repository inspera/blackbricks: changes, and which pre-commit hooks are due for each by the changed paths.
All: blackbricks, black, isort, flake8, mypy, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: blackbricks
        name: blackbricks
        language: system
        entry: poetry run blackbricks
        require_serial: true
        types: [python]
        files: ^test_notebooks/

      - id: black
        name: black
        language: system
        entry: poetry run black
        types: [python]
        exclude: ^test_notebooks/

      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        types: [python]
        exclude: ^test_notebooks/

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [python]
        exclude: ^test_notebooks/
          
      - id: mypy
        name: mypy
        language: system
        entry: poetry run mypy
        types: [python]
        exclude: ^test_notebooks/

      - id: pytest
        name: pytest
        language: system
        entry: poetry run pytest
        types: [python]
        pass_filenames: false

normalize newlines and edit test notebook
  blackbricks/blackbricks.py
  test_notebooks/test.py
Due: blackbricks, black, isort, flake8, mypy, pytest

bump: version 1.0.2 → 1.0.3
  CHANGELOG.md
  blackbricks/__init__.py
  pyproject.toml
Due: black, isort, flake8, mypy, pytest

fix: avoid failing on quoted cell dividers
  blackbricks/blackbricks.py
Due: black, isort, flake8, mypy, pytest

bump: version 1.0.3 → 1.0.4
  CHANGELOG.md
  blackbricks/__init__.py
  pyproject.toml
Due: black, isort, flake8, mypy, pytest

bump: version 1.0.4 → 1.0.5
  CHANGELOG.md
  blackbricks/__init__.py
  pyproject.toml
Due: black, isort, flake8, mypy, pytest

Add newline at the end of the formatted notebook
  blackbricks/blackbricks.py
  test_notebooks/test.py
Due: blackbricks, black, isort, flake8, mypy, pytest

add cli option for formatting with newline eol
  blackbricks/blackbricks.py
  blackbricks/cli.py
  test_notebooks/test_end_newline.py
  tests/test_check_test_notebook.py
Due: blackbricks, black, isort, flake8, mypy, pytest

ensure newlines are correct when running with --remote
  blackbricks/cli.py
  blackbricks/files.py
Due: black, isort, flake8, mypy, pytest

fix!: add newline at the end of formatted notebooks (#36)
  blackbricks/blackbricks.py
  blackbricks/cli.py
  blackbricks/files.py
  test_notebooks/test.py
Due: blackbricks, black, isort, flake8, mypy, pytest

bump: version 1.0.5 → 2.0.0
  CHANGELOG.md
  README.md
  blackbricks/__init__.py
  blackbricks/cli.py
  pyproject.toml
Due: black, isort, flake8, mypy, pytest

feat: upgrade black to its 2023 release
  poetry.lock
  pyproject.toml
Due: none

docs: specify version policy in README
  README.md
Due: none

bump: version 2.0.0 → 2.1.0
  CHANGELOG.md
  blackbricks/__init__.py
  pyproject.toml
Due: black, isort, flake8, mypy, pytest

bump: version 2.1.0 → 2.1.1
  CHANGELOG.md
  blackbricks/__init__.py
  pyproject.toml
Due: black, isort, flake8, mypy, pytest

bump: version 2.1.1 → 2.1.2
  CHANGELOG.md
  blackbricks/__init__.py
  pyproject.toml
Due: black, isort, flake8, mypy, pytest

bump: version 2.1.2 → 2.1.3
  CHANGELOG.md
  blackbricks/__init__.py
  pyproject.toml
Due: black, isort, flake8, mypy, pytest

chore(deps): upgrade dependency versions
  poetry.lock
  pyproject.toml
Due: none

bump: version 2.1.3 → 2.2.0
  blackbricks/__init__.py
  pyproject.toml
Due: black, isort, flake8, mypy, pytest

bump: version 2.1.3 → 2.2.0
  CHANGELOG.md
  blackbricks/__init__.py
  pyproject.toml
Due: black, isort, flake8, mypy, pytest
